/* CSS stylesheet for all pages of notthelibrarycafe */

body {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Special Elite' !important;
  height: 100vh;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 18px !important;
}


.text-justified {
  text-align: justify;
}

.codefirst_logo img {
  border: none;
  display: block;
   margin: 0 auto;
}

.instagram_logo img {
  border: none;
  display: block;
  margin: 0 auto;
}

#map {
  position: relative;
  height: calc(100vh - 56px);
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#overlay {
  position: 	relative;
  bottom:			80px;
  z-index:		2;
  margin:		0 auto;
}


ul.navbar-nav a:hover {
  background-color: #000000 !important;
  color: #f2f2f2 !important;
 }

.gm-style .gm-style-iw {
    font-family: 'Special Elite' !important;
 }

.btn-custom {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #404040 !important;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #e5e5e5;
  border-color: #d9d9d9;
  color: #404040 !important;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}


.container-fluid {
}

.bg-1 {
  background-color: #ffffff;
  color: #000000;
}

.col-sm-12 {
    color: #000000;
    background-color:  #ffffff;
}

.col-sm-6 {
    color: #000000;
    background-color:  #ffffff;
}

.col-sm-3 {
  background-color:  ;
  color: #000000;
}
